<html lang="es">
  <head>
    <title> Visualizacion </title>
    <!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <!-- CSS -->
  <link rel="stylesheet" href="/stylesheets/visualizacion.css">
  <link rel="stylesheet" href="/stylesheets/busqueda.css">
  <link rel="stylesheet" href="/stylesheets/principal.css">
  <style>
      .container{
          max-width: 960px;
      }
  </style>
  </head>

   <!-- EJS HEADER Y PARTIALS-->
   <%- include("./header") %>
   <%- include("./nav") %>
 
 <!--encabezado seccion cargar -->
<body>
  <div class="seccion">
    <h2 id="idtextoseccion">Visualizacion de datos de violencia</h2>
  </div>
  <%- include("./filtro") %>

  <!-- Tabla Personas  -->
  <table id="tablaPersonas" class="table mt-4">
    <thead>
      <tr>
        <th style="display: none;">ID</th>
        <th>Fecha</th>
        <th>Dia de semana</th>
        <th>Hora</th>
        <th>Complejo</th>
        <th>Unidad</th>
        <th>Tipo</th>
        <th>Subtipo</th>
        <th>Relacion en el hecho</th>
        <th>Involucrado</th>
        <th>Nombre</th>
        <th>Nro ID Crimen</th>
        <th>Genero</th>
        <th>Edad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% personas.forEach( (persona)=> { %>
        <tr>
          <td style="display: none;">
            <%= persona._id %>
          </td>
          <td>
            <%= persona.fecha %>
          </td>
          <td>
            <%= persona.diadesemana %>
          </td>
          <td>
            <%= persona.hora %>
          </td>
          <td>
            <%= persona.complejo %>
          </td>
          <td>
            <%= persona.unidad %>
          </td>
          <td>
            <%= persona.tipo %>
          </td>
          <td>
            <%= persona.subtipo %>
          </td>
          <td>
            <%= persona.relacionenelhecho %>
          </td>
          <td>
            <%= persona.involucrado %>
          </td>
          <td>
            <%= persona.nombre %>
          </td>
          <td>
            <%= persona.nroidentificacion %>
          </td>
          <td>
            <%= persona.genero %>
          </td>
          <td>
            <%= persona.edad %>
          </td>
          <td>
            <a type="button" class="btnEditar btn btn-outline-primary bi bi-pencil"></a>
            <a href="/borrar/<%= persona._id %>" class="btn btn-outline-danger bi bi-trash"></a>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
  </div>
  
  <!-- Modal para Editar   -->
  <div id="modalPersona" class="modal fade" tabindex="-1" aria-labelledby="modalPersona" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="exampleModalLabel">Editar informacion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/editar" method="POST">
            <input name="id_editar" id="id_editar" type="text" hidden>
            <div class="mb-3">
              <label for="fecha_editar" class="col-form-label">Fecha:</label>
              <input id="fecha_editar" name="fecha_editar" type="text" class="form-control" value="">
            </div>
            <div class="mb-3">
              <label for="diadesemana_editar" class="col-form-label">Dia de semana:</label>
              <input id="diadesemana_editar" name="diadesemana_editar" type="text" class="form-control" value="">
            </div>
            <div class="mb-3">
              <label for="hora_editar" class="col-form-label">Hora:</label>
              <input id="hora_editar" name="hora_editar" type="text" class="form-control" value="">
            </div>
            <div class="mb-3">
              <label for="complejo_editar" class="col-form-label">Complejo:</label>
              <input id="complejo_editar" name="complejo_editar" type="text" class="form-control" value="">
            </div>
            <div class="mb-3">
              <label for="unidad_editar" class="col-form-label">Unidad:</label>
              <input id="unidad_editar" name="unidad_editar" type="text" class="form-control" value="">
            </div>
            <div class="mb-3">
              <label for="tipo_editar" class="col-form-label">Tipo:</label>
              <input id="tipo_editar" name="tipo_editar" type="text" class="form-control" value="">
            </div>
            <div class="mb-3">
              <label for="subtipo_editar" class="col-form-label">Subtipo:</label>
              <input id="subtipo_editar" name="subtipo_editar" type="text" class="form-control" value="">
            </div>
            <div class="mb-3">
              <label for="relacionenelhecho_editar" class="col-form-label">Relacion en el hecho:</label>
              <input id="relacionenelhecho_editar" name="relacionenelhecho_editar" type="text" class="form-control"
                value="">
            </div>
            <div class="mb-3">
              <label for="involucrado_editar" class="col-form-label">Involucrado:</label>
              <input id="involucrado_editar" name="involucrado_editar" type="text" class="form-control" value="">
            </div>
            <div class="mb-3">
              <label for="nombre_editar" class="col-form-label">Nombre:</label>
              <input id="nombre_editar" name="nombre_editar" type="text" class="form-control" value="">
            </div>
            <div class="mb-3">
              <label for="nroidentificacion_editar" class="col-form-label">Nro de identificacion:</label>
              <input id="nroidentificacion_editar" name="nroidentificacion_editar" type="text" class="form-control"
                value="">
            </div>
            <div class="mb-3">
              <label for="genero_editar" class="col-form-label">Genero:</label>
              <input id="genero_editar" name="genero_editar" type="text" class="form-control" value="">
            </div>
            <div class="mb-3">
              <label for="edad_editar" class="col-form-label">Edad:</label>
              <input id="edad_editar" name="edad_editar" type="number" class="form-control" value="">
            </div>
  
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</body>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/busqueda.js"></script>
<script type="text/javascript" src="/js/botonAddRemove.js"></script>
</html>